// Specific CSS for your home-page
h2 {
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 700;
}

h3 {
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 700;
}

p {
  padding-bottom:30px
}

.white-background {
  background-color: white;
}
