<div class="footer text-center">
  <div class="footer-links">
    <a href="https://github.com/GMalzac" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gregoire-malzac/?locale=en_US" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-logo">
    <%= image_tag "logov4.png", height: 30 %>
  </div>
  <div class="footer-copyright copyright-size">
    Handmade with <i class="fas fa-heart heart"></i>  by myself :) ©2018
  </div>
  <div class="footer-copyright copyright-size credit">
    <a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup vector created by D3images - Freepik.com</a>
  </div>
</div>
