<div class="minheight">
  <section id="home">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path "coding.jpg" %>);="">
      <div class="banner-content">
        <h1>Hi I'm Gregoire!</h1>
        <%= image_tag 'ThatsMe.jpg', class: "avatar-medium" %>
        <h1><strong> I design and build responsive</strong></h1>
        <h2 id="app"></h2>
      </div>
    </div>
  </section>

  <section id="myskills">
    <div class="grey-background">
      <div class="container">
        <div class="text-center">
          <h3>My skills</h3>
        </div>
        <div class="row">
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-chess-bishop fa-2x icon-red"></i>
            <h4>Strategy</h4>
            <p>After 7+ years as a strategy consultant, I can help you develop and realize your ideas into clear, comprehensive and relevant design specs. This phase is crucial, this is where we will build the pillars of your product.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-magic fa-2x icon-red"></i>
            <h4>UX/UI</h4>
            <p>I design and prototype wireframed interfaces focusing on user experience: a clear content structure, an intuitive UI and simple interactions.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-code fa-2x icon-red"></i>
            <h4>Code</h4>
            <p>I work with HTML(5), CSS(3), Bootstrap and a touch of JavaScript for the Front-end, Ruby and SQL for the Back-end. I use Ruby-on-Rails framework.</p>
          </div>
        </div>
        <div class="row">
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-rocket fa-2x icon-red"></i>
            <h4>Project management</h4>
            <p>As a consultant, I developed an expertise in project management for an overall duration of 4+ years. I managed 8 different programs / projects for as many clients (mostly banks). Therefore I am used to planning constraints, reporting and professionalism.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-university fa-2x icon-red"></i>
            <h4>Banking Sector</h4>
            <p>As a consultant, I have worked for almost every major bank in France. In my previous job, I was the expert regarding means of payment from both bank and clients sides.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-cogs fa-2x icon-red"></i>
            <h4>Coordination</h4>
            <p>4 years as a program/project manager help me build strong coordination skills. I can talk to your marketing teams as well as IT ones if needed and act as a go-between.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="myportfolio">
    <div class="white-background">
      <div class="container">
        <div class="text-center">
          <h3>My portfolio</h3>
          <p>Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans. Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans.Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans.Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans.Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans.Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans.Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne  </p>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>

</div>
