<div class="minheight">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path "coding.jpg" %>);="">
    <div class="banner-content">
      <h1>Hi I'm Gregoire, <strong> I design and build responsive</strong></h1>
      <ul>
        <h2>Web Applications</h2>
        <h2>Web Interfaces</h2>
        <h2>Websites</h2>
        <h2>Landing Pages</h2>
      </ul>
    </div>
  </div>
  <div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>
